tensorflow-hub
tensorflow-datasets==1.0.2
bert-tensorflow==1.0.1
bunch
rouge==0.3.2
pyyaml
urllib3>=1.26.2
attrs==21.4.0
matplotlib==3.5.2
huaweicloudsdkcore==3.1.8
Pillow==9.5.0
pycocotools==2.0.6
tenacity==8.2.2
terminaltables~=3.1.10
tqdm==4.65.0